.add-new-collection-container {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0; }
  .add-new-collection-container .add-new-collection {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    border-radius: .28571429rem;
    background: #fff;
    width: 760px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .add-new-collection-container .add-new-collection .header {
      display: flex;
      flex-direction: row;
      font-size: 18.2px;
      line-height: 20.2px;
      font-weight: 700;
      padding: 17px 21px;
      border-bottom: 1px solid #e7e7e7; }
      .add-new-collection-container .add-new-collection .header .close-icon {
        margin-left: auto;
        cursor: pointer;
        line-height: 20px;
        top: 14px;
        opacity: .8;
        font-weight: bold;
        color: #33373D;
        font-size: 20px; }
        .add-new-collection-container .add-new-collection .header .close-icon i {
          pointer-events: none; }
        .add-new-collection-container .add-new-collection .header .close-icon:hover {
          opacity: 1; }
    .add-new-collection-container .add-new-collection .field input, .add-new-collection-container .add-new-collection .field textarea, .add-new-collection-container .add-new-collection .content .search-input-container .search-input {
      height: 38px;
      border-color: none;
      line-height: 38px;
      padding: .67861429em 1em;
      font-size: 14px;
      background: #FFF;
      border: 1px solid #e7e7e7;
      color: #33373D;
      border-radius: .28571429rem;
      box-shadow: 0 0 0 0 transparent inset;
      -webkit-transition: color .1s ease,border-color .1s ease;
      transition: color .1s ease,border-color .1s ease; }
    .add-new-collection-container .add-new-collection .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 14px; }
      .add-new-collection-container .add-new-collection .field:last-child {
        margin-bottom: 0px; }
      .add-new-collection-container .add-new-collection .field label {
        font-weight: 700;
        line-height: 19.6px;
        text-transform: none;
        color: #33373D;
        font-size: 14px;
        margin-bottom: 0px; }
      .add-new-collection-container .add-new-collection .field input::placeholder, .add-new-collection-container .add-new-collection .field textarea::placeholder {
        color: #ccc;
        font-size: 14px; }
      .add-new-collection-container .add-new-collection .field input:focus, .add-new-collection-container .add-new-collection .field textarea:focus {
        outline-color: #85B7D9; }
      .add-new-collection-container .add-new-collection .field textarea {
        padding: 11px 14px;
        height: 75px !important;
        line-height: 13px; }
    .add-new-collection-container .add-new-collection .actions button, .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant button {
      color: #fff;
      border: 0;
      height: 30.5px;
      line-height: 0px;
      padding: 8.25px 15.75px;
      font-size: 14px;
      border-radius: .28571429rem; }
    .add-new-collection-container .add-new-collection .actions .add-restaurants, .add-new-collection-container .add-new-collection .actions .save-collection, .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .add-res {
      margin-left: auto;
      background-color: #099E44; }
      .add-new-collection-container .add-new-collection .actions .add-restaurants:hover, .add-new-collection-container .add-new-collection .actions .save-collection:hover, .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .add-res:hover {
        background-color: #018c38;
        transition: background .1s ease 0s; }
    .add-new-collection-container .add-new-collection .actions .back-btn, .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .remove-res {
      background-color: #CB202D; }
      .add-new-collection-container .add-new-collection .actions .back-btn:hover, .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .remove-res:hover {
        background-color: #bd1522;
        transition: background .1s ease 0s; }
    .add-new-collection-container .add-new-collection .actions {
      display: flex;
      border-top: 1px solid #e7e7e7;
      background: #F9FAFB;
      padding: 14px; }
      .add-new-collection-container .add-new-collection .actions .btnDisabled {
        background-color: #099E44;
        opacity: 0.5; }
        .add-new-collection-container .add-new-collection .actions .btnDisabled:hover {
          background-color: #099E44;
          opacity: 0.5;
          transition: none; }
      .add-new-collection-container .add-new-collection .actions button {
        text-transform: uppercase; }
    .add-new-collection-container .add-new-collection .content {
      padding: 21px; }
      .add-new-collection-container .add-new-collection .content .backface-visibility {
        -webkit-backface-visibility: hidden;
        transform: translateZ(0);
        position: relative;
        height: 0px;
        width: 0px;
        overflow: hidden;
        opacity: 0; }
      .add-new-collection-container .add-new-collection .content form.add-collection-res-form .add-coll-ress-btns {
        display: flex; }
        .add-new-collection-container .add-new-collection .content form.add-collection-res-form .add-coll-ress-btns .add-restaurants, .add-new-collection-container .add-new-collection .content form.add-collection-res-form .add-coll-ress-btns .in-collection {
          width: 50%;
          text-align: center;
          padding: 12.85px 0;
          cursor: pointer;
          margin-bottom: 2px; }
        .add-new-collection-container .add-new-collection .content form.add-collection-res-form .add-coll-ress-btns .active-btn {
          font-weight: 700;
          border-bottom: #000 solid 2px;
          color: rgba(0, 0, 0, 0.95);
          font-size: 15px; }
      .add-new-collection-container .add-new-collection .content .search-input-container {
        position: relative; }
        .add-new-collection-container .add-new-collection .content .search-input-container .location-results {
          border-radius: .28571429rem;
          border: 1px solid #e7e7e7;
          overflow: hidden;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1;
          margin-top: 10px;
          background: #fff;
          width: 100%; }
          .add-new-collection-container .add-new-collection .content .search-input-container .location-results .location {
            border-top: 1px solid #e7e7e7;
            color: #33373D;
            padding: .67861429em 1em;
            font-size: 14px;
            line-height: 18.62px;
            padding: 12px 16px;
            font-weight: 650;
            cursor: pointer; }
            .add-new-collection-container .add-new-collection .content .search-input-container .location-results .location:hover {
              transition: background 0.1s ease;
              background: #F9FAFB; }
            .add-new-collection-container .add-new-collection .content .search-input-container .location-results .location:first-child {
              border-top: none; }
          .add-new-collection-container .add-new-collection .content .search-input-container .location-results .location-fetch-failed {
            font-size: 14px;
            padding: 9.5px 14px;
            line-height: 27px; }
        .add-new-collection-container .add-new-collection .content .search-input-container .search-input {
          display: block;
          margin-top: 10px;
          width: 100%;
          position: relative; }
          .add-new-collection-container .add-new-collection .content .search-input-container .search-input::placeholder {
            color: #ccc;
            font-size: 14px; }
          .add-new-collection-container .add-new-collection .content .search-input-container .search-input:focus ~ span {
            color: #000;
            opacity: 0.9; }
        .add-new-collection-container .add-new-collection .content .search-input-container span {
          position: absolute;
          top: 50%;
          transform: translate(0%, -50%);
          right: 10px;
          font-size: 15px;
          color: #ccc; }
      .add-new-collection-container .add-new-collection .content .restaurants-results {
        overflow: scroll;
        padding-top: 10px;
        min-height: 82px;
        max-height: 200px; }
        .add-new-collection-container .add-new-collection .content .restaurants-results .direction {
          font-size: 15px;
          font-weight: 700;
          text-align: center;
          margin-top: 20px;
          line-height: 21px; }
        .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant {
          font-size: 14px;
          padding: .21428571em 0;
          line-height: 27px;
          display: flex; }
          .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .description {
            display: flex; }
            .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .description img {
              width: 28px;
              height: 28px;
              margin-right: 10px;
              border-radius: 100%;
              margin-top: 2px; }
            .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .description span {
              width: 150px;
              font-size: 14px;
              line-height: 16px; }
          .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant button {
            transition: all .1s ease !important;
            outline: none;
            overflow: hidden;
            white-space: nowrap;
            margin-left: auto;
            margin-right: 5px;
            height: 28.5px; }
          .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .add-res {
            width: 57px !important; }
          .add-new-collection-container .add-new-collection .content .restaurants-results li.restaurant .remove-res {
            width: 81px !important; }

.fade-scale-enter {
  opacity: 0;
  transform: scale(0.9); }

.fade-scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: .15s ease-in all; }

.fade-scale-exit {
  opacity: 1;
  transform: scale(1); }

.fade-scale-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: .15s ease-in all; }

.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in; }
