$font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

.collections {

  .collections-header {
    margin-bottom: 14px;

    .collections-title {
      font-family: $font-stack;
      font-weight: 600;
      line-height: 1.1em;
      text-transform: none;
      color: #33373D;
      font-size: 24px;
    }
    
    .collections-subtitle {
      margin-top: 5px;
      font-family: $font-stack;
      line-height: 1.2em;
      color: #89959B;
      font-weight: 400;
      font-size: 16px;
      word-spacing: 3px;
    }
  }
  .collections-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    grid-gap: 20px;

    .collection-item-all {
      text-align: center;
      background: #fff;
      cursor: pointer;
      border: 1px solid #e7e7e7;
      border-radius: 0.2857rem;

      img {
        margin-top: 10px;
        height: 60px;
      }

      .collections-link {
        padding: 10px;
        color: #cb202d;
        font: {
          size: 14px;
          family: $font-stack;
        }
        line-height: 20px;
        display: block;
      }
    }

    .collection-item {
      display: grid;
      grid-template-columns: 150px auto;
      cursor: pointer;
      background: #fff;
      border: 1px solid #e7e7e7;
      border-radius: 0.2857rem;
      overflow: hidden;

      img {
        height: 120px;
        width: 150px;
        border: 1px solid #e7e7e7;
        border-top-left-radius: 0.2857rem;
        border-bottom-left-radius: 0.2857rem;
      }

      .about-item {
        padding: 10px;

        .title {
          color: #33373D;
          font: {
            size: 18px;
            weight: 700;
            family: $font-stack;
          }
          line-height: 20px;
        }

        .description {
          color: #33373D;
          font: {
            size: 14px;
            family: $font-stack;
          }
          line-height: 16px;
          margin-top: 5px;
          width: 190px;
        }
      }
    }
  }
}