$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";


.filters {
  font-family: $font-family;
  background: #fff;
  border-radius: .28571429rem;
  border: 1px solid #e7e7e7;
  padding: 14px;
  
  .active-filter-item {
      color: #099e44 !important;
      font-weight: 700 !important;

      &:hover {
        font-weight: 700 !important;

        & span {
          font-weight: 700 !important;
        }
      }
  }

  .next-active-filter-item {
    color: #a4cd32 !important;
    font-weight: 700 !important;

    &:hover {
      font-weight: 700 !important;

      & span {
        font-weight: 700 !important;
      }
    }
  }

  .filters-title {
    border: none;
    margin-bottom: 14px;
    padding: 0;
    font-size: 1.28em;
    font-weight: 600;
    line-height: 1.1em;
    text-transform: none;
    color: #33373D;
    position: relative;

    span {
      position: absolute;
      height: 27px;
      line-height: 24px;
      right: 0px;
      background: #cb202d;
      border: 1px solid #ccc;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      transition: 200ms ease-in all;
      cursor: pointer;
      font-size: 14px;
      width: 75px;
  
      i {
        position: relative;
        top: -1px;
        font-size: 9px;
        line-height: 9px;
        right: -4px;
      }

      &:hover {
        opacity: 0.8;
        color: #a4cd32;
      }
    }
  }

  .sort-by-category, .categories-category, .top-cuisines-category, .order-by-category, .establishments-category {
    &:nth-child(-n+5) {
      margin-bottom: 20px;
    }

    .title {
      font-weight: 600;
      line-height: 1.1em;
      text-transform: none;
      color: #33373D;
      padding-bottom: 5px;
      font-size: 1.071em;
    }

    ul {
      li {
        padding: 1px 0;
        font-size: 13px;
        cursor: pointer;
        color: #33373D;
        line-height: 1.4285em;

        span {
          pointer-events: none;
          color: #89959B;
        }

        &:hover {
          color: #cb202d;
        }
      }
    }
  }
}