.login-form,
.signup-form,
.password-reset-form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  .message {
    font-size: 14px;
    line-height: 19.6px;
    color: #33373d;
    margin-bottom: 10px;
  }

  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

    label {
      font-weight: 600;
      line-height: 1.1em;
      text-transform: none;
      color: #33373d;
      margin-bottom: 14px;
      font-size: 17.92px;
    }

    input {
      height: 60px;
      border-color: none;
      line-height: 60px;
      padding: 0.67861429em 1em;
      font-size: 1em;
      background: #fff;
      border: 1px solid #e7e7e7;
      color: #33373d;
      border-radius: 0.28571429rem;
      box-shadow: 0 0 0 0 transparent inset;
      -webkit-transition: color 0.1s ease, border-color 0.1s ease;
      transition: color 0.1s ease, border-color 0.1s ease;

      &:focus {
        outline-color: #85b7d9;
      }
    }
  }

  .check-data {
    display: flex !important;
    flex-direction: row;
    color: #33373d;
    transition: color 0.1s ease;
    cursor: auto;
    display: block;
    outline: 0;
    font-size: 14px;
    line-height: 17px;

    .checkbox-label {
      position: relative;
      padding-left: 25px;

      input {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        outline: 0;
        width: 17px;
        height: 17px;
        border-radius: 0.28571429rem;

        &:focus {
          color: #fff !important;
          outline-color: #85b7d9 !important;
        }
      }

      span {
        font-weight: 500;
        color: #33373d;
        cursor: pointer;
      }
    }

    .forgotpass {
      color: #cb202d;
      margin-left: auto;
      cursor: pointer;

      &:hover {
        transition: color 0.1s ease 0s;
        color: #222d3d;
      }
    }
  }

  button {
    height: 60px;
    line-height: 60px;
    background-color: #cb202d;
    color: #fff;
    margin-top: 20px;
    border: none;

    &:disabled {
      cursor: default;
      opacity: 0.45;
    }

    &:hover {
      transition: background 0.1s ease 0s;
    }
  }
}
