.form-modal-container {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 99;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0; }
  .form-modal-container .form-modal {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    border-radius: .28571429rem;
    background: #fff;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .form-modal-container .form-modal .header {
      display: flex;
      flex-direction: row;
      font-size: 20px;
      line-height: 1.1em;
      font-weight: 700;
      padding: 21px;
      border-bottom: 1px solid #e7e7e7; }
      .form-modal-container .form-modal .header .close-icon {
        margin-left: auto;
        cursor: pointer;
        line-height: 20px;
        top: 14px;
        opacity: .8;
        font-weight: bold;
        color: #33373D;
        font-size: 20px; }
        .form-modal-container .form-modal .header .close-icon i {
          pointer-events: none; }
        .form-modal-container .form-modal .header .close-icon:hover {
          opacity: 1; }
    .form-modal-container .form-modal .content {
      padding: 21px; }
      .form-modal-container .form-modal .content .login-form, .form-modal-container .form-modal .content .signup-form, .form-modal-container .form-modal .content .password-reset-form {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }
        .form-modal-container .form-modal .content .login-form .message, .form-modal-container .form-modal .content .signup-form .message, .form-modal-container .form-modal .content .password-reset-form .message {
          font-size: 14px;
          line-height: 19.6px;
          color: #33373D;
          margin-bottom: 10px; }
        .form-modal-container .form-modal .content .login-form .field, .form-modal-container .form-modal .content .signup-form .field, .form-modal-container .form-modal .content .password-reset-form .field {
          display: flex;
          flex-direction: column;
          margin-bottom: 14px; }
          .form-modal-container .form-modal .content .login-form .field label, .form-modal-container .form-modal .content .signup-form .field label, .form-modal-container .form-modal .content .password-reset-form .field label {
            font-weight: 600;
            line-height: 1.1em;
            text-transform: none;
            color: #33373D;
            margin-bottom: 14px;
            font-size: 17.92px; }
          .form-modal-container .form-modal .content .login-form .field input, .form-modal-container .form-modal .content .signup-form .field input, .form-modal-container .form-modal .content .password-reset-form .field input {
            height: 60px;
            border-color: none;
            line-height: 60px;
            padding: .67861429em 1em;
            font-size: 1em;
            background: #FFF;
            border: 1px solid #e7e7e7;
            color: #33373D;
            border-radius: .28571429rem;
            box-shadow: 0 0 0 0 transparent inset;
            -webkit-transition: color .1s ease,border-color .1s ease;
            transition: color .1s ease,border-color .1s ease; }
            .form-modal-container .form-modal .content .login-form .field input:focus, .form-modal-container .form-modal .content .signup-form .field input:focus, .form-modal-container .form-modal .content .password-reset-form .field input:focus {
              outline-color: #85B7D9; }
        .form-modal-container .form-modal .content .login-form .check-data, .form-modal-container .form-modal .content .signup-form .check-data, .form-modal-container .form-modal .content .password-reset-form .check-data {
          display: flex !important;
          flex-direction: row;
          color: #33373D;
          transition: color .1s ease;
          cursor: auto;
          display: block;
          outline: 0;
          font-size: 14px;
          line-height: 17px; }
          .form-modal-container .form-modal .content .login-form .check-data .checkbox-label, .form-modal-container .form-modal .content .signup-form .check-data .checkbox-label, .form-modal-container .form-modal .content .password-reset-form .check-data .checkbox-label {
            position: relative;
            padding-left: 25px; }
            .form-modal-container .form-modal .content .login-form .check-data .checkbox-label input, .form-modal-container .form-modal .content .signup-form .check-data .checkbox-label input, .form-modal-container .form-modal .content .password-reset-form .check-data .checkbox-label input {
              cursor: pointer;
              position: absolute;
              top: 0;
              left: 0;
              outline: 0;
              width: 17px;
              height: 17px;
              border-radius: .28571429rem; }
              .form-modal-container .form-modal .content .login-form .check-data .checkbox-label input:focus, .form-modal-container .form-modal .content .signup-form .check-data .checkbox-label input:focus, .form-modal-container .form-modal .content .password-reset-form .check-data .checkbox-label input:focus {
                color: #fff !important;
                outline-color: #85B7D9 !important; }
            .form-modal-container .form-modal .content .login-form .check-data .checkbox-label span, .form-modal-container .form-modal .content .signup-form .check-data .checkbox-label span, .form-modal-container .form-modal .content .password-reset-form .check-data .checkbox-label span {
              font-weight: 500;
              color: #33373D;
              cursor: pointer; }
          .form-modal-container .form-modal .content .login-form .check-data .forgotpass, .form-modal-container .form-modal .content .signup-form .check-data .forgotpass, .form-modal-container .form-modal .content .password-reset-form .check-data .forgotpass {
            color: #cb202d;
            margin-left: auto;
            cursor: pointer; }
            .form-modal-container .form-modal .content .login-form .check-data .forgotpass:hover, .form-modal-container .form-modal .content .signup-form .check-data .forgotpass:hover, .form-modal-container .form-modal .content .password-reset-form .check-data .forgotpass:hover {
              transition: color .1s ease 0s;
              color: #222d3d; }
        .form-modal-container .form-modal .content .login-form button, .form-modal-container .form-modal .content .signup-form button, .form-modal-container .form-modal .content .password-reset-form button {
          height: 60px;
          line-height: 60px;
          background-color: #CB202D;
          color: #FFF;
          margin-top: 20px;
          border: none; }
          .form-modal-container .form-modal .content .login-form button:disabled, .form-modal-container .form-modal .content .signup-form button:disabled, .form-modal-container .form-modal .content .password-reset-form button:disabled {
            cursor: default;
            opacity: .45; }
          .form-modal-container .form-modal .content .login-form button:hover, .form-modal-container .form-modal .content .signup-form button:hover, .form-modal-container .form-modal .content .password-reset-form button:hover {
            transition: background .1s ease 0s; }
      .form-modal-container .form-modal .content .validation-msg {
        border-radius: .28571429rem;
        font-size: 14px;
        margin: 14px 0; }

@keyframes animate-validation-error {
  0% {
    opacity: 0;
    padding: 0em 0em; }
  20% {
    opacity: 0.116; }
  59% {
    opacity: 0.778; }
  80% {
    opacity: 0.543; }
  100% {
    opacity: 1;
    padding: 1em 1.5em; } }

@keyframes animate-validation-success {
  0% {
    opacity: 1;
    padding: 0em 0em; }
  25% {
    opacity: 0.778; }
  50% {
    opacity: 0.543; }
  75% {
    opacity: 0.778; }
  100% {
    opacity: 1;
    padding: 1em 1.5em; } }
      .form-modal-container .form-modal .content .animate-validation-error {
        background-color: #FFF6F6;
        color: #9F3A38;
        box-shadow: 0 0 0 1px #E0B4B4 inset, 0 0 0 0 transparent;
        animation-duration: 0.3s;
        animation-name: animate-validation-error;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease; }
      .form-modal-container .form-modal .content .animate-validation-success {
        color: #155724;
        background-color: #d4edda;
        box-shadow: 0 0 0 1px #c3e6cb inset, 0 0 0 0 transparent;
        animation-duration: 0.3s;
        animation-name: animate-validation-success;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease; }
      .form-modal-container .form-modal .content button {
        width: 100%;
        height: 65px;
        line-height: 65px;
        font-size: 15px;
        border-radius: .28571429rem;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        outline: none; }
      .form-modal-container .form-modal .content .continue-with-facebook {
        display: block;
        background-color: rgba(59, 89, 152, 0.97);
        border: none;
        color: #FFF;
        margin-bottom: 21px; }
        .form-modal-container .form-modal .content .continue-with-facebook:hover {
          background-color: rgba(48, 77, 138, 0.97);
          transition: background .1s ease 0s; }
        .form-modal-container .form-modal .content .continue-with-facebook:hover span {
          transition: background .1s ease 0s;
          background-color: #304d8a; }
        .form-modal-container .form-modal .content .continue-with-facebook span {
          position: absolute;
          left: 0px;
          width: 61px;
          top: 0px;
          background-color: #3B5998;
          font-size: 24px; }
      .form-modal-container .form-modal .content .continue-with-google {
        display: block;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
        border: 1px solid #e7e7e7;
        background: #fff; }
        .form-modal-container .form-modal .content .continue-with-google:hover {
          transition: background .1s ease 0s;
          box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.35) inset, 0 0 0 0 #e7e7e7 inset; }
        .form-modal-container .form-modal .content .continue-with-google img {
          width: 25px;
          height: 25px;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          left: 0px;
          margin-left: 21px; }
      .form-modal-container .form-modal .content .horizontal-divider {
        width: 100%;
        height: 24px;
        position: relative;
        margin: 9px 0; }
        .form-modal-container .form-modal .content .horizontal-divider .line {
          background: #e7e7e7;
          height: 1.5px;
          display: block;
          position: absolute;
          line-height: 1px;
          top: 50%;
          width: 100%; }
        .form-modal-container .form-modal .content .horizontal-divider .text {
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: .05em;
          color: rgba(0, 0, 0, 0.85);
          text-align: center;
          font-size: 14px;
          width: 45px;
          background: #fff;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
      .form-modal-container .form-modal .content .use-email {
        font-size: 17.92px;
        font-weight: 600;
        line-height: 18px;
        text-transform: none;
        color: #33373D;
        text-align: center;
        margin-bottom: 14px; }
      .form-modal-container .form-modal .content .form-btns {
        display: flex;
        flex-direction: row; }
        .form-modal-container .form-modal .content .form-btns .login-email {
          margin-right: 20px;
          background-color: #CB202D;
          color: #FFF;
          border: none; }
          .form-modal-container .form-modal .content .form-btns .login-email:hover {
            background-color: #bd1522;
            transition: background .1s ease 0s; }
        .form-modal-container .form-modal .content .form-btns .signUp-email {
          color: rgba(0, 0, 0, 0.6);
          font-weight: 400;
          border: 1px solid #e7e7e7;
          background: #fff; }
          .form-modal-container .form-modal .content .form-btns .signUp-email:hover {
            transition: background .1s ease 0s;
            box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.35) inset, 0 0 0 0 #e7e7e7 inset; }
      .form-modal-container .form-modal .content .privacy-policy {
        color: #89959B;
        margin-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 9pt;
        text-align: center; }
        .form-modal-container .form-modal .content .privacy-policy span {
          color: #cb202d;
          text-decoration: underline;
          cursor: pointer; }
          .form-modal-container .form-modal .content .privacy-policy span:hover {
            transition: background-color .5s linear;
            color: #222d3d;
            text-decoration: none; }

.modal-fade-enter {
  opacity: 0; }

.modal-fade-enter-active {
  opacity: 1;
  transition: .3s ease-in all; }

.modal-fade-exit {
  opacity: 1; }

.modal-fade-exit-active {
  opacity: 0;
  transition: .3s ease-in all; }
