/* Layout Component */
.layout {

  .disable-body-scroll {
    overflow: hidden;
  }

  .hide-unmatched-cuisine-item {
    display: none; 
  }
  
  .header-top {
    // Search Form component
    @import 'style/containers/search_form.scss';

    display: grid;
    justify-content: center;
    grid-template-columns: 115px auto auto;
    background-color: #cb202d;
    padding: 10px 0;
    height: 62px;

    .zomato-urban-spon-logo {
      width: 100px;
      margin-right: 15px;
      height: 50px;
      padding: 8px 0;
      cursor: pointer;
    }

    .search-form {
      padding: 0 20px;
      grid-template-columns: 230px 376px 86px;

      .search-location, .search-place {
        input {
          border-radius: 2px;
        }
      }

      .search-place {
        .places-loader-bg {
          width: 376px;
          z-index: 1;

          .loader-content {
            text-align: center;
          }
        }
      }

      .search-btn {
        border: 1px solid rgba(255,255,255,.75);
        width: 73px;
        font-weight: 500;
        font-size: 15px;

        &:hover {
          background: #D94148;
        }
      }

      ul.cuisine-list {
        width: 376px;
        z-index: 1;
        left: 255px;
        border-radius: 2px;
      }

      .location-list {
        z-index: 1;
        left: 20px;
        border-radius: 2px;

        li {
          width: 230px;
        }
      }

      ul.places-list {
        width: 376px;
        left: initial;
        right: 111px;
        z-index: 1;
      }
    }

    .login-navigation {
      padding-top: 0px;
      grid-column-gap: 10px;
      font-size: 15px;

      .signin-link {
        padding: 10px 20px 12px 20px;
        border-radius: 4px;

        &:hover {
          background-color: #D94148 !important;
          color: #fff !important;
        }
      }

      .signup-link {
        background-color: #ba1e2b !important;
        border: none;

        &:hover {
          color: #fff !important;
          background: #D94148 !important;
        }
      }
    }
  }

  .header-bottom {
    background-color: #fff;
  }

  .all-cuisines-container {
    cursor: pointer;
    background: rgba(0,0,0,0.85);
    width: 100%;
    height: 1000px;
    position: fixed;
    top: 0px;

    .all-cuisine-content {
      margin: 60px 0;
      width: 600px;
      position: absolute;
      background: #fff;
      left: 50%;
      transform: translate(-50%, 0);
      overflow: hidden;
      border-radius: 4px;

      label {
        display: block;
        line-height: 1.1em;
        font-weight: 700;
        font-size: 20px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        border-bottom: 1px solid #e7e7e7;
        padding: 17.5px 21px; 
        box-sizing: border-box;

        span {
          position: absolute;
          cursor: pointer;
          right: 21px;
          z-index: 1;
          line-height: 20px;
          top: 14px;
          opacity: .8;
          font-weight: bold;
          font-size: 20px;

          &:hover {
            opacity: 1;

          }
          i {
            pointer-events: none;
          }
        }
      }

      .search-cuisine {
        padding: 21px 21px 0 21px;
        
        input {
          width: 100%;
          line-height: 1.2142em;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
          padding: .67861429em 1em;
          background: #FFF;
          border: 1px solid #e7e7e7;
          font-size: 14px;
          color: #33373D;
          border-radius: .28571429rem;
          -webkit-transition: box-shadow .1s ease,border-color .1s ease;
          transition: box-shadow .1s ease,border-color .1s ease;
          box-shadow: none;
        }
      }

      .all-cuisine-list {
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        padding: 21px 31px;

        li {
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
          font-size: 14px;
          line-height: 19.6px;
          cursor: pointer;
          white-space: nowrap;

          &:hover {
            color: #cb202d;
          }
        }
      }
    }
  }
}