.pathway-link {
  background: transparent;
  color: #89959B;
  font-size: 11px;
  font-weight: 600;
  line-height: 9px;
  margin-top: 30px;
  margin-bottom: 30px;
  
  span {
    i {
      padding: 0 2px;
    }
  }

  a {
    color: #89959B;
    
    &:hover {
      text-decoration: underline;
    }
  }
}