/* Restaurant Menu Card */

.restaurant-menu-card {
  background: #FFF;
  border-radius: .28571429rem;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  padding: 15px;

  .card-title {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.1em;
    font-weight: 600;
    cursor: pointer;
    color: #33373D;
    font-size: 18px;
  }

  ul {
    display: flex;
    flex-direction: row;

    li {
      cursor: pointer;
      height: 150px;
      width: 150px;
      margin-right: 10px;
      
      img {
        border-radius: .28571429rem;
        border: 1px solid #e7e7e7;
        height: 100%;
        width: 100%;
      }
    }
  }
}