/* Search Container component*/

.search-container {
  padding: {
    top: 25px;
    bottom: 40px;
  }
  text-align: center;

  img {
    height: 120px;
  }

  .city-home-title {
    margin: {
      top: 26.6px;
      bottom: 14px;
    }
    padding: 0  15px 25px 15px;
    font-weight: 300 ;
    // text-rendering: optimizeLegibility;
    font-size: 28px;
    line-height: 1.3em;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    color: #fff;
  }

  // Search Form component
  @import 'style/components/search_form.scss';
}