body {
  margin: 0px; }
  body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  body a {
    text-decoration: none; }
    body a:hover, body a:focus {
      text-decoration: none; }
  body .footer {
    padding: 10px;
    background-color: #282C35;
    border-top: 1px solid #eee; }
    body .footer .footer-content {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 14px;
      color: #fff; }
      body .footer .footer-content .bl-title {
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 700;
        color: #ADB0B6;
        line-height: 19.8px; }
      body .footer .footer-content .links li, body .footer .footer-content .horiz-list-block li {
        line-height: 20px;
        font-size: 14px;
        color: #cdcdcd;
        padding-bottom: 8px;
        cursor: pointer; }
      body .footer .footer-content .logo-language-block {
        padding-bottom: 12px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #3C3F46; }
        body .footer .footer-content .logo-language-block img {
          height: 60px;
          width: 60px;
          cursor: pointer; }
        body .footer .footer-content .logo-language-block .dropdown-lang {
          margin-left: auto;
          border: 1px solid #6d6d6d;
          padding: 4px 10px;
          border-radius: 3px;
          background-color: rgba(0, 0, 0, 0.3);
          line-height: 22px;
          padding: 4px 10px;
          cursor: pointer;
          min-width: 155px;
          font-size: 14px;
          color: #fff;
          height: 32px;
          position: relative; }
          body .footer .footer-content .logo-language-block .dropdown-lang span:first-of-type {
            padding-right: 5px; }
          body .footer .footer-content .logo-language-block .dropdown-lang span:last-child {
            position: absolute;
            right: 12px;
            font-size: 18px; }
      body .footer .footer-content .middle-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 4px;
        margin-bottom: 12px;
        border-bottom: 1px solid #3C3F46; }
        body .footer .footer-content .middle-block .block-2 .links {
          display: grid;
          grid-template-rows: repeat(7, 1fr);
          grid-template-columns: 230px 230px; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(2) {
            grid-row: 2 / 3;
            grid-column: 1 / 2; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(3) {
            grid-column: 1; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(4) {
            grid-column: 1; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(5) {
            grid-column: 1; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(6) {
            grid-column: 1; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(7) {
            grid-column: 1; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(8) {
            grid-column: 2;
            grid-row: 1/2; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(9) {
            grid-column: 2;
            grid-row: 2/3; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(10) {
            grid-row: 3/4;
            grid-column: 2; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(11) {
            grid-column: 2;
            grid-row: 4/5; }
          body .footer .footer-content .middle-block .block-2 .links li:nth-child(12) {
            grid-column: 2;
            grid-row: 5/6; }
      body .footer .footer-content .bottom-block {
        padding-bottom: 4px;
        margin-bottom: 12px;
        border-bottom: 1px solid #3C3F46; }
        body .footer .footer-content .bottom-block .links {
          column-count: 5; }
      body .footer .footer-content .horiz-list-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 12px;
        border-bottom: 1px solid #3C3F46;
        margin-bottom: 12px; }
        body .footer .footer-content .horiz-list-block li {
          padding-bottom: 0px; }
        body .footer .footer-content .horiz-list-block .list-left {
          display: flex;
          flex-direction: row; }
          body .footer .footer-content .horiz-list-block .list-left li:nth-child(-n+5) {
            margin-right: 20px; }
        body .footer .footer-content .horiz-list-block .list-right {
          display: flex;
          flex-direction: row;
          margin-left: auto; }
          body .footer .footer-content .horiz-list-block .list-right li:nth-child(2) {
            margin: 0 20px; }
          body .footer .footer-content .horiz-list-block .list-right li:last-child {
            margin-right: 10px; }
          body .footer .footer-content .horiz-list-block .list-right li:hover span {
            background: rgba(0, 0, 0, 0.5);
            transition: .3s ease-in background;
            -webkit-transition: .3s ease-in background; }
          body .footer .footer-content .horiz-list-block .list-right li span {
            display: block;
            line-height: 28px;
            text-align: center;
            width: 27px;
            height: 28px;
            border-radius: 100%;
            font-size: 16px;
            background: rgba(0, 0, 0, 0.3);
            color: #cdcdcd; }
      body .footer .footer-content .copyright-block {
        color: #9a9a9a;
        opacity: .5;
        font-size: 10px; }
